optuna==4.1.0
optuna-dashboard
tensorboard
tqdm
pycocotools
onnxoptimizer
opencv-python
torch
torchvision
matplotlib
notebook
numpy<=1.23.5
tensorflow==2.14.0
ethos-u-vela==3.10.0
tensorflow_datasets==4.9.7
